$light-color: white;

@mixin alert($bgColor, $borderColor, $fontColor) {
  background: $bgColor;
  color: $fontColor;
  border-color: $borderColor;
}
.alert-error {
  @include alert(rgb(255, 200, 200), lightyellow, rgb(150, 50, 50));
}
.alert-primary {
  @include alert(rgb(200, 200, 255), lightyellow, rgb(50, 50, 150));
}
.alert-success {
  @include alert(rgb(200, 255, 200), rgb(35, 115, 35), rgb(50, 150, 50));
}
.alert-info {
  @include alert(rgb(50, 50, 50), darkgray, rgb(250, 250, 250));
}

.alert {
  border-width: 1px;
  border-style: dotted;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;

  .head {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      gap: 0.5rem;
    }
    .close {
      cursor: pointer;
    }
  }
}
